@media screen and (max-width: 992px){

}

@media screen and (max-width: 600px){
    body{
        border: 2px solid red;
        padding: 0 25px;
    }
    .nav-content, .nav-content ul, .banner-items, .tour-section, .discount-content, .media-section, .news-section{
        flex-direction: column;
    }
    .primary-button{
        border-radius: 6px;
        padding: 12px 22px;
        font-size: 1.2rem;
    }

    /* Nav Styles */
    .nav-heading{
        width: 70%;
        gap: 10px
    }
    .nav-heading h1{
        font-size: 1.2rem;
    }
    .nav-heading img{
        width: 15%;
    }
    .nav-content{
        width: 30%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .nav-content ul{
        display: none;
    }
    .nav-content ul li a{
        display: none;
    }
    #bar-label{
        display: block;
        color: #10298e;
        font-size: 25px;
    }
    #bar-label:hover .nav-content > ul > li > a{
        display: block;
    }

    /* Banner Styles */
    .banner-section .banner-content{
        height: 700px;
    }
    .banner-section .banner-content{
        height: 800px;
    }
    .banner-content h1{
        font-size: 2.4rem;
        margin-bottom: 10px;
    }
    .banner-content p{
        padding: 0 50px;
        margin-bottom: 32px;
    }
    .banner-items #find-now{
        width: 480px;
        height: 80px;
        font-size: 2rem;
    }
    .banner-items .item{
        padding: 10px 0 10px 20px;
        width: 480px;
        height: 80px;
        font-size: 2rem;
    }

    /* Tour Styles */
    .tour-section{
        margin: 0 auto;
        gap: 20px;
    }
    .tour-content, .tour-img{
        width: 100%;
    }

    /* Destination Styles */
    .destination-heading .txt{
        padding: 20px 25px;
    }
    .img-container{
        grid-template-areas:
        'grid-item-1'
        'grid-item-2'
        'grid-item-3'
        'grid-item-4'
        'grid-item-5'
        'grid-item-6'
        'grid-item-7'
        ;
        gap: 15px;
    }

    /* Services Styles */
    .service-section > .txt{
        padding: 0 20px 20px;
    }

    /* discount Styles */
    .discount-section > .txt{
        padding: 0 20px 20px;
    }
    .discount-content{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .single-discount{
        width: 70%;
        padding: 25px;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .discount-container > #dis-2{
        justify-content: flex-end;
    }
    #dis-2 .single-discount{
        margin-left: 0;
    }
    .discount-section > .primary-button{
        display: none;
    }
    
    /* Media Styles */
    .media-section{
        margin: 0 auto;
        gap: 20px;
    }
    .media-content, .media-vid{
        width: 100%;
    }

    /* Newsletter Styles */
    .news-content, .news-img{
        width: 100%;
    }
    .news-img .tag{
        bottom: 14%;
        left: 42%;
    }
}