@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}

.container{
    max-width: 1170px;
    margin: 40px auto;
}
.primary-button{
    border-radius: 8px;
    border: none;
    background: #fb6120;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    width: 150px;
}
.title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.txt{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
/* Header Styles */

/* Nav Styles */
.nav-section{
    display: flex;
}
.nav-heading{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px
}
.nav-heading h1{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.imp-blue, #home-blue{
    color: #10298e;
}
.nav-heading img{
    width: 15%;
    padding-bottom: 13px;
}

.nav-content{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-content ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-content ul li{
    list-style: none;
}
.nav-content ul li a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}
#bar-label{
    display: none;
    color: #10298e;
}

/* Banner Styles */

.banner-section .banner-content{
    width: 100%;
    height: 31.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-content p{
    padding: 0 245px;
    color: #FFF;
    margin-bottom: 48px;
}
.banner-items{
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-items .item{
    border-radius: 8px;
    background: #FFF;
    padding: 10px 0 10px 10px;
    width: 150px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
/* Tour Styles */
.tour-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}
.tour-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tour-content h1, p, li{
    text-align: left;
}
.tour-content ul li{
    margin-left: 20px;
    margin-bottom: 10px;
}
.tour-img{
    width: 40%;
}
.tour-img img{
    width: 100%;
    object-fit: cover;
}

/* Destination Styles */

.destination-heading .txt{
    padding: 20px 300px;
    margin-bottom: 20px;
}
.img-container{
    display: grid;
    gap: 24px;
    grid-template-areas:
        'grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-2 grid-item-2 grid-item-2 grid-item-2 grid-item-2 grid-item-2'
        'grid-item-3 grid-item-3 grid-item-3 grid-item-3 grid-item-4 grid-item-4 grid-item-4 grid-item-4 grid-item-4 grid-item-5 grid-item-5 grid-item-5'  
        'grid-item-6 grid-item-6 grid-item-6 grid-item-6 grid-item-6 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7'
    ;
}
.itm{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-1{
    grid-area: grid-item-1;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 5.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-2{
    grid-area: grid-item-2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 8.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-3{
    grid-area: grid-item-3;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 6.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-4{
    grid-area: grid-item-4;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 7.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-5{
    grid-area: grid-item-5;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 9.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-6{
    grid-area: grid-item-6;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 11.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-7{
    grid-area: grid-item-7;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 10.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* Services Styles */
.service-section .title{
    margin: 100px 0 24px 0;
}
.service-section > .txt{
    padding: 0 264px 80px;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.single-service{
    flex-basis: 500px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.single-service h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 30px 0 20px 0;
}
.single-service p{
    text-align: left;
}
.hotel{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* .single-service img{
    width: 70%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
} */