@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Mulish", sans-serif;
}

.container{
    max-width: 1170px;
    margin: 40px auto;
}
.primary-button{
    border-radius: 8px;
    border: none;
    background: #fb6120;
    color: #FFF;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
}
.title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.txt{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
/* Header Styles */

/* Nav Styles */
.nav-section{
    display: flex;
}
.nav-heading{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px
}
.nav-heading h1{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.imp-blue, #home-blue{
    color: #10298e;
}
.nav-heading img{
    width: 15%;
    padding-bottom: 13px;
}

.nav-content{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-content ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-content ul li{
    list-style: none;
}
.nav-content ul li a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
}
#bar-label{
    display: none;
    color: #10298e;
}

/* Banner Styles */

.banner-section .banner-content{
    width: 100%;
    height: 31.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/banner.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}
.banner-content p{
    padding: 0 245px;
    color: #FFF;
    margin-bottom: 48px;
}
.banner-items{
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-items .item{
    border-radius: 8px;
    background: #FFF;
    padding: 10px 0 10px 10px;
    width: 150px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}
#find-now .fa-solid{
    color: #FFF;
}
/* Tour Styles */
.tour-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}
.tour-content{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tour-content h1, p, li{
    text-align: left;
}
.tour-content ul li{
    margin-left: 20px;
    margin-bottom: 10px;
}
.tour-img{
    width: 40%;
}
.tour-img img{
    width: 100%;
    object-fit: cover;
}

/* Destination Styles */

.destination-heading .txt{
    padding: 20px 300px;
    margin-bottom: 20px;
}
.img-container{
    display: grid;
    gap: 24px;
    grid-template-areas:
        'grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-1 grid-item-2 grid-item-2 grid-item-2 grid-item-2 grid-item-2 grid-item-2'
        'grid-item-3 grid-item-3 grid-item-3 grid-item-3 grid-item-4 grid-item-4 grid-item-4 grid-item-4 grid-item-4 grid-item-5 grid-item-5 grid-item-5'  
        'grid-item-6 grid-item-6 grid-item-6 grid-item-6 grid-item-6 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7 grid-item-7'
    ;
}
.itm{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item-1{
    grid-area: grid-item-1;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 5.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-2{
    grid-area: grid-item-2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 8.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-3{
    grid-area: grid-item-3;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 6.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-4{
    grid-area: grid-item-4;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 7.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-5{
    grid-area: grid-item-5;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 9.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-6{
    grid-area: grid-item-6;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 11.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.grid-item-7{
    grid-area: grid-item-7;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../images/Rectangle 10.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* Services Styles */
.service-section .title{
    margin: 100px 0 24px 0;
}
.service-section > .txt{
    padding: 0 264px 80px;
}
.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.single-service{
    flex-basis: 500px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.single-service h2{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 30px 0 20px 0;
}
.single-service p{
    text-align: left;
}
.hotel{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.map{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Discount Styles */
.discount-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount-section > .title{
    margin: 130px 0 24px 0;
}
.discount-section > .txt{
    padding: 0 264px 50px;
}
.discount-section > .primary-button{
    margin: 35px 0;
}
.discount-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.discount-content{
    min-height: 31.25rem;
    width: 100%;
    flex: 1;
    border-radius: 16px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.discount-container > #dis-1{
    background-image: url("../images/Group 39.png");
}
.discount-container > #dis-2{
    background-image: url("../images/Group 40.png");
    justify-content: flex-start;
}
.discount-container > #dis-3{
    background-image: url("../images/Group 39.png");
}
.fa-solid{
    color: #fb6120;
}
.single-discount{
    width: 45%;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    margin-right: 55px;
}
.single-discount h3{
    color: #fb6120;
    font-size: 20px;
    font-weight: 800;
}
#dis-2 .single-discount{
    margin-left: 50px;
}

/* Media Styles */

.media-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
}
.media-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.media-content h1, p, li{
    text-align: left;
}
.media-content ul li{
    margin-left: 20px;
    margin-bottom: 10px;
    color: #131318;
    font-weight: 700;
}
.media-vid{
    width: 48%;
}
.media-vid video{
    width: 100%;
    height: 340px;
    object-fit: fill;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}

/* Plan Styles */
.plan-container{
    width: 100%;
    border: 2px solid #10298e;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../images/flight.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}
.plan-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 50%;
}
.plan-container h2{
    color: #fb6120;
    font-weight: 800;
    font-size: 40px;
}
.plan-container p{
    padding: 0 200px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.plan-form #name, #email, #phone, #destination, #date, #people, #location, .box-content{
    display: block;
    color: #5A5A5D;
    border-radius: 8px;
    outline: #fb6120;
    background: white;    
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    width: 100%;
}
.plan-form .box-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plan-form .box-head{
    border-radius: 8px;
    color: #FFF;
    background: #10298e;    
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 700;
}


/* Newsletter Styles */

.news-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    gap: 24px;
}
.news-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid #fb6120;
    padding: 40px;
}
.news-content> h1{
    margin-top: 10px;
    text-align: left;
}
.news-content> p{
    text-align: left;
}
.news-img{
    width: 60%;
    position: relative;
}
.news-img img{
    width: 100%;
    object-fit: cover;
}
.news-form input[type="text"], input[type="email"]{
    display: block;
    border-radius: 8px;
    outline: #fb6120;
    background: rgba(19, 19, 24, 0.05);    
    margin-bottom: 15px;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    width: 100%;
}
.news-form > .primary-button{
    display: block;
    margin-bottom: 10px;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}
.news-img .tag{
    width: fit-content;
    padding: 25px;
    border-radius: 16px;
    background: #fb6120;
    text-align: center;
    transform: rotate(-19.628deg);
    position: absolute;
    bottom: 11%;
    left: 55%;
}
.news-img .tag p{
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}
.news-img .tag h3{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}

/* Footer Styles */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-logo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-section img{
    width: 7%;
    padding-bottom: 8px;
}
.footer-section h3{
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}
.footer-section .txt{
    padding: 0 260px;
}
.footer-section hr{
    background: rgba(19, 19, 24, 0.10);
    margin: 10px auto;
}
.footer-section .social-link{
    font-size: 20px;
    display: flex;
    gap: 20px;
}